<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>
            Index.jsp
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllerPkg.FrontController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
 
    <servlet>
        <servlet-name>FuelServlet</servlet-name>
        <servlet-class>ErenUgur.Servlet.FuelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FuelServlet</servlet-name>
        <url-pattern>/FuelLog</url-pattern>
    </servlet-mapping>
<servlet>
    <servlet-name>GPSServlet</servlet-name>
    <servlet-class>ErenUgur.Servlet.GPSServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>GPSServlet</servlet-name>
    <url-pattern>/gps</url-pattern>
</servlet-mapping>
    <session-config>
        
        <servlet>
        <servlet-name>ReportController</servlet-name>
        <servlet-class>javagroupprojectkapoor.presentation.ReportController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportController</servlet-name>
        <url-pattern>/reports</url-pattern>
    </servlet-mapping>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
